{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog.I've written {% total_post %} posts so far.</p>
    <p>
      <a href="{% url 'post_feed' %}">Subscribe to my RSS feed</a>
     </p>
     
    <h3>Latest Posts</h3>
    {% show_latest_post 3 %}
    <h3>Most commented posts</h3>
    {% most_commented_post as commented_post %}
    <ul>
      {% for post in commented_post %}
      <li><a href="{{ post.get_absolute_url }}">{{post.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
